button:hover{
    box-shadow: 3px 3px 3px rgb(38, 107, 197);
}

#countLabel{
    font-size: 50px;
}

.counter{
    align-items: center;
    margin-right: auto;
    margin-left: auto;    
    text-align: center;
}

#counterdiv{
    margin: auto;
    align-items: auto;
}